In [1]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense, Dropout
from sklearn.metrics import mean_absolute_error

In [2]:
train = pd.read_csv("../input/competitive-data-science-predict-future-sales/sales_train.csv")
test  = pd.read_csv("../input/competitive-data-science-predict-future-sales/test.csv")
item_categories = pd.read_csv("../input/competitive-data-science-predict-future-sales/item_categories.csv")
shops = pd.read_csv("../input/competitive-data-science-predict-future-sales/shops.csv")
item = pd.read_csv("../input/competitive-data-science-predict-future-sales/items.csv")

In [3]:
def basic_info(data):
    print("*************** TOP 10 RECOED ***************")
    print(data.head(10))
    print("*************** INFO ***************")
    print(data.info())
    print("*************** DESCRIBE ***************")
    print(data.describe())
    print("*************** COLUMNS ***************")
    print(data.columns)
    print("*************** MISSING VALUES ***************")
    print(data.isnull().sum())
    print("*************** SHAPE ***************")
    print(data.shape)

print("=============== TRAIN ===============")
basic_info(train)
print("=============== TEST ===============")
basic_info(test)
print("=============== ITEM CAT ===============")
basic_info(item_categories)
print("=============== SHOPS ===============")
basic_info(shops)
print("=============== ITEMS ===============")
basic_info(item)

=============== TRAIN ===============
*************** TOP 10 RECOED ***************
         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0
5  10.01.2013               0       25     2564      349.00           1.0
6  02.01.2013               0       25     2565      549.00           1.0
7  04.01.2013               0       25     2572      239.00           1.0
8  11.01.2013               0       25     2572      299.00           1.0
9  03.01.2013               0       25     2573      299.00           3.0
*************** INFO ***************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   date            object
 1   date_block_num  int64
 2   shop_id         int64
 3   item_id         int64
 4   item_price      float64
 5   item_cnt_day    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 134.4+ MB
None
*************** DESCRIBE ***************
       date_block_num       shop_id       item_id    item_price  item_cnt_day
count    2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06
mean     1.456991e+01  3.300173e+01  1.019723e+04  8.908532e+02  1.242641e+00
std      9.422988e+00  1.622697e+01  6.324297e+03  1.729800e+03  2.618834e+00
min      0.000000e+00  0.000000e+00  0.000000e+00 -1.000000e+00 -2.200000e+01
25%      7.000000e+00  2.200000e+01  4.476000e+03  2.490000e+02  1.000000e+00
50%      1.400000e+01  3.100000e+01  9.343000e+03  3.990000e+02  1.000000e+00
75%      2.300000e+01  4.700000e+01  1.568400e+04  9.990000e+02  1.000000e+00
max      3.300000e+01  5.900000e+01  2.216900e+04  3.079800e+05  2.169000e+03
*************** COLUMNS ***************
Index(['date', 'date_block_num', 'shop_id', 'item_id', 'item_price',
       'item_cnt_day'],
      dtype='object')
*************** MISSING VALUES ***************
date              0
date_block_num    0
shop_id           0
item_id           0
item_price        0
item_cnt_day      0
dtype: int64
*************** SHAPE ***************
(2935849, 6)
=============== TEST ===============
*************** TOP 10 RECOED ***************
   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268
5   5        5     5039
6   6        5     5041
7   7        5     5046
8   8        5     5319
9   9        5     5003
*************** INFO ***************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214200 entries, 0 to 214199
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   ID       214200 non-null  int64
 1   shop_id  214200 non-null  int64
 2   item_id  214200 non-null  int64
dtypes: int64(3)
memory usage: 4.9 MB
None
*************** DESCRIBE ***************
                  ID        shop_id        item_id
count  214200.000000  214200.000000  214200.000000
mean   107099.500000      31.642857   11019.398627
std     61834.358168      17.561933    6252.644590
min         0.000000       2.000000      30.000000
25%     53549.750000      16.000000    5381.500000
50%    107099.500000      34.500000   11203.000000
75%    160649.250000      47.000000   16071.500000
max    214199.000000      59.000000   22167.000000
*************** COLUMNS ***************
Index(['ID', 'shop_id', 'item_id'], dtype='object')
*************** MISSING VALUES ***************
ID         0
shop_id    0
item_id    0
dtype: int64
*************** SHAPE ***************
(214200, 3)
=============== ITEM CAT ===============
*************** TOP 10 RECOED ***************
        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4
5      Аксессуары - PSVita                 5
6    Аксессуары - XBOX 360                 6
7    Аксессуары - XBOX ONE                 7
8           Билеты (Цифра)                 8
9          Доставка товара                 9
*************** INFO ***************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   item_category_name  84 non-null     object
 1   item_category_id    84 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.4+ KB
None
*************** DESCRIBE ***************
       item_category_id
count         84.000000
mean          41.500000
std           24.392622
min            0.000000
25%           20.750000
50%           41.500000
75%           62.250000
max           83.000000
*************** COLUMNS ***************
Index(['item_category_name', 'item_category_id'], dtype='object')
*************** MISSING VALUES ***************
item_category_name    0
item_category_id      0
dtype: int64
*************** SHAPE ***************
(84, 2)
=============== SHOPS ===============
*************** TOP 10 RECOED ***************
                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4
5          Вологда ТРЦ "Мармелад"        5
6      Воронеж (Плехановская, 13)        6
7          Воронеж ТРЦ "Максимир"        7
8    Воронеж ТРЦ Сити-Парк "Град"        8
9               Выездная Торговля        9
*************** INFO ***************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   shop_name  60 non-null     object
 1   shop_id    60 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.1+ KB
None
*************** DESCRIBE ***************
         shop_id
count  60.000000
mean   29.500000
std    17.464249
min     0.000000
25%    14.750000
50%    29.500000
75%    44.250000
max    59.000000
*************** COLUMNS ***************
Index(['shop_name', 'shop_id'], dtype='object')
*************** MISSING VALUES ***************
shop_name    0
shop_id      0
dtype: int64
*************** SHAPE ***************
(60, 2)
=============== ITEMS ===============
*************** TOP 10 RECOED ***************
                                           item_name  item_id  \
0          ! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.)         D        0
1  !ABBYY FineReader 12 Professional Edition Full...        1
2      ***В ЛУЧАХ СЛАВЫ   (UNV)                    D        2
3    ***ГОЛУБАЯ ВОЛНА  (Univ)                      D        3
4        ***КОРОБКА (СТЕКЛО)                       D        4
5  ***НОВЫЕ АМЕРИКАНСКИЕ ГРАФФИТИ  (UNI)         ...        5
6           ***УДАР ПО ВОРОТАМ (UNI)               D        6
7         ***УДАР ПО ВОРОТАМ-2 (UNI)               D        7
8           ***ЧАЙ С МУССОЛИНИ                     D        8
9      ***ШУГАРЛЭНДСКИЙ ЭКСПРЕСС (UNI)             D        9

   item_category_id
0                40
1                76
2                40
3                40
4                40
5                40
6                40
7                40
8                40
9                40
*************** INFO ***************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22170 entries, 0 to 22169
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   item_name         22170 non-null  object
 1   item_id           22170 non-null  int64
 2   item_category_id  22170 non-null  int64
dtypes: int64(2), object(1)
memory usage: 519.7+ KB
None
*************** DESCRIBE ***************
           item_id  item_category_id
count  22170.00000      22170.000000
mean   11084.50000         46.290753
std     6400.07207         15.941486
min        0.00000          0.000000
25%     5542.25000         37.000000
50%    11084.50000         40.000000
75%    16626.75000         58.000000
max    22169.00000         83.000000
*************** COLUMNS ***************
Index(['item_name', 'item_id', 'item_category_id'], dtype='object')
*************** MISSING VALUES ***************
item_name           0
item_id             0
item_category_id    0
dtype: int64
*************** SHAPE ***************
(22170, 3)

In [4]:
train['date'] = pd.to_datetime(train['date'], format = "%d.%m.%Y" )
pt_train = pd.pivot_table(train, index = ['shop_id', 'item_id'], values = 'item_cnt_day', columns = ['date_block_num'], aggfunc = np.sum, fill_value = 0)
pt_train.reset_index(inplace = True)


pt_test = pd.merge(test, pt_train, on=['shop_id', 'item_id'], how = 'left')
pt_test.fillna(0, inplace=True)

X = pt_train.drop(columns=['shop_id','item_id', 33], axis=1)
y = pt_train[33]

pt_test.drop(columns=['shop_id','item_id', 'ID', 0], axis=1, inplace = True)
pt_test.columns = X.columns

X_train = np.expand_dims(X, axis =2)
y_train = np.expand_dims(y, axis =1)

X_test = np.expand_dims(pt_test, axis =2)

model = Sequential()
model.add(LSTM(128, activation = "relu", input_shape =(X_train.shape[1], X_train.shape[2]), return_sequences = True))
model.add(LSTM(64, activation = "relu", return_sequences = False))
model.add(Dropout(0.1))
model.add(Dense(1))

model.compile(optimizer = 'adam', loss = 'mse', metrics = ['mean_squared_error'])

hist = model.fit(X_train, y_train, epochs= 10, batch_size = 1024, verbose = 1, shuffle = True, validation_split = 0.3)
pred = model.predict(X_test)

output = pd.DataFrame({'ID': test["ID"], 'item_cnt_month': pred.flatten()})
output.to_csv('submission.csv', index=False)

2022-06-29 11:31:10.930020: I tensorflow/core/common_runtime/process_util.cc:146] Creating new thread pool with default inter op setting: 2. Tune using inter_op_parallelism_threads for best performance.
2022-06-29 11:31:11.381070: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:185] None of the MLIR Optimization Passes are enabled (registered 2)

Epoch 1/10
290/290 [==============================] - 163s 551ms/step - loss: 25086.1543 - mean_squared_error: 25086.1543 - val_loss: 122.0547 - val_mean_squared_error: 122.0547
Epoch 2/10
290/290 [==============================] - 157s 542ms/step - loss: 443.5835 - mean_squared_error: 443.5835 - val_loss: 1.4269 - val_mean_squared_error: 1.4269
Epoch 3/10
290/290 [==============================] - 156s 539ms/step - loss: 71.8194 - mean_squared_error: 71.8194 - val_loss: 164.1698 - val_mean_squared_error: 164.1698
Epoch 4/10
290/290 [==============================] - 156s 539ms/step - loss: 48.0463 - mean_squared_error: 48.0463 - val_loss: 7.3167 - val_mean_squared_error: 7.3167
Epoch 5/10
290/290 [==============================] - 156s 540ms/step - loss: 28.7622 - mean_squared_error: 28.7622 - val_loss: 5.5938 - val_mean_squared_error: 5.5938
Epoch 6/10
290/290 [==============================] - 158s 545ms/step - loss: 30.1521 - mean_squared_error: 30.1521 - val_loss: 1.3302 - val_mean_squared_error: 1.3302
Epoch 7/10
290/290 [==============================] - 159s 550ms/step - loss: 29.3606 - mean_squared_error: 29.3606 - val_loss: 200.6856 - val_mean_squared_error: 200.6856
Epoch 8/10
290/290 [==============================] - 159s 547ms/step - loss: 50.3614 - mean_squared_error: 50.3614 - val_loss: 1.2211 - val_mean_squared_error: 1.2211
Epoch 9/10
290/290 [==============================] - 158s 545ms/step - loss: 34.1961 - mean_squared_error: 34.1961 - val_loss: 5.2007 - val_mean_squared_error: 5.2007
Epoch 10/10
290/290 [==============================] - 158s 546ms/step - loss: 24.7697 - mean_squared_error: 24.7697 - val_loss: 1.5653 - val_mean_squared_error: 1.5653